{% embed 'partials/base.html.twig' %}

{% block body %}
<body itemscope itemtype="http://schema.org/Article">
{% endblock %}

{% block content %}
    <main class="landing {{ page.header.image ? 'tag-articleimage' : '' }}" role="main">
        <div class="landing-image">
          <div class="landing-image-image" style="background-image: url({% if page.header.image %}{{ page.media[page.header.image].url }}{% endif %})"></div>
          <div class="landing-image-fade"></div>
        </div> {# /div.landing-image #}

        <div class="landing-content">
          <div class="centered uk-container-center uk-width-9-10 uk-width-small-8-10">
            <div id="landing-titles">
              <h1 class="c-white"><span class="f-uni-grotesk-bold">sen</span> <img src="{{ theme_url }}/images/headline-logo.svg" alt="×" class="headline-logo"> <span class="f-moyenage">skutočnosť</span></h1>
              <h2 class="c-white f-uni-grotesk-bold f-uppercase">{{ page.header.subTitle }}</h2>
              <h3 class="c-white f-uni-grotesk-regular">{{ page.header.subSubTitle }}</h3>
            </div>

            {% include 'partials/emailcapture.html.twig' with {
              'emailCTA': page.header.emailCTA, 
              'emailPlaceholder': page.header.emailPlaceholder, 
              'emailButton': page.header.emailButton, 
              'emailNotice': page.header.emailNotice} 
            %}
            <div>
              {% include 'partials/sharing.html.twig' %}
            </div>

          </div>
          
          <div id="chapter-preview" class="uk-grid centered c-white ">

            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 chapter-thumb {% if page.find('/chapters/1').header.disabled%}disabled{% endif %}">
              <a href="{{page.find('/chapters/1').url}}" {% if page.find('/chapters/1').header.disabled%}disabled{% endif %}>
                <h5 class="f-uni-grotesk-bold">1.<br>Na polceste k slovenskému štátu</h5>
              </a>
              <p class="f-uni-grotesk-regular">7. november</p>
              <a href="{{page.find('/chapters/1').url}}">
                <img src="{{ page.media['thumb-chapter1.jpg'].url }}" class="uk-hidden-small" alt="chapter 1">
              </a>
            </div>

            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 chapter-thumb {% if page.find('/chapters/2').header.disabled%}disabled{% endif %}">
              <a href="{{page.find('/chapters/2').url}}" {% if page.find('/chapters/2').header.disabled%}disabled{% endif %}>
                <h5 class="f-uni-grotesk-bold">2.<br>Jeden národ, jedna strana, jeden vodca</h5>
              </a>
              <p class="f-uni-grotesk-regular">Zverejníme onedlho</p>
              <img src="{{ page.media['thumb-chapter2.jpg'].colorize(-100,-100,-100).url }}" class="uk-hidden-small" alt="chapter 2">
            </div>

            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 chapter-thumb {% if page.find('/chapters/3').header.disabled%}disabled{% endif %}">
              <a href="{{page.find('/chapters/3').url}}" {% if page.find('/chapters/3').header.disabled%}disabled{% endif %}>
                <h5 class="f-uni-grotesk-bold">3.<br>70 000 obetí</h5>
              </a>
              <p class="f-uni-grotesk-regular">Zverejníme onedlho</p>
              <img src="{{ page.media['thumb-chapter3.jpg'].colorize(-100,-100,-100).url }}" class="uk-hidden-small" alt="chapter 3">
            </div>

            <div class="uk-width-1-1 uk-width-medium-1-2 uk-width-large-1-4 chapter-thumb {% if page.find('/chapters/4').header.disabled%}disabled{% endif %}">
              <a href="{{page.find('/chapters/4').url}}" {% if page.find('/chapters/4').header.disabled%}disabled{% endif %}>
                <h5 class="f-uni-grotesk-bold">4.<br>Vytriezvenie zo sna</h5>
              </a>
              <p class="f-uni-grotesk-regular">Zverejníme onedlho</p>
              <img src="{{ page.media['thumb-chapter4.jpg'].colorize(-100,-100,-100).url }}" class="uk-hidden-small" alt="chapter 4">
            </div>

          </div>
          
        </div>

        {% include 'partials/footer.html.twig' with {
          'sharingButtons': false,
          'exhibitionLink': true,
          'orgIcons':       true,
          'copyright':      true,
          'stylingClasses': 'c-grey'}
        %}
        
    </main>
    
{% endblock %}

{% block footer %}{% endblock %}

{% endembed %}
