<div class="carousel">
    {% for subobject in subobjects %}
        {% if subobject.href %}
            <a href="{{ subobject.href }}"><img class="slide" src="{{ subobject.imgSrc }}" alt="{{subobject.title}}" /></a>
        {% else %}
            <img class="slide" src="{{ subobject.imgSrc }}" alt="{{subobject.title}}" />
        {% endif %}
    {% endfor %}
</div>