<nav class="uk-navbar ">
    <a href="#side-timeline" class="timeline-toggle" data-uk-offcanvas></a>
    <a href="/" class="uk-navbar-brand">
        <span class="f-uni-grotesk-bold c-black">sen</span>
        <img class="navbar-icon" src="{{ base_url_relative }}/user/themes/longread/images/headline-logo-black.svg" alt="×">
        <span class="f-moyenage c-black">skutočnosť</span>
    </a>
    <ul class="uk-navbar-nav uk-navbar-center">
        <li>
            <div class="chapter-nav {% if page.header.chapterNumber == 1 %}active{% endif %} {% if page.find('/chapters/1').header.disabled == true %}disabled{% endif %}">
                <a href="{{page.find('/chapters/1').url}}">
                    <span class="chapter-number">{{page.find('/chapters/1').header.chapterNumber}}.</span><br>
                    <span class="chapter-title">{{page.find('/chapters/1').title}}</span>
                </a>
            </div>
        </li>
        <li>
            <div class="chapter-nav {% if page.header.chapterNumber == 2 %}active{% endif %} {% if page.find('/chapters/2').header.disabled == true %}disabled{% endif %}">
                <a href="{{page.find('/chapters/2').url}}">
                    <span class="chapter-number">{{page.find('/chapters/2').header.chapterNumber}}.</span><br>
                    <span class="chapter-title">{{page.find('/chapters/2').title}}</span>
                </a>
            </div>
        </li>
        <li>
            <div class="chapter-nav {% if page.header.chapterNumber == 3 %}active{% endif %} {% if page.find('/chapters/3').header.disabled == true %}disabled{% endif %}">
                <a href="{{page.find('/chapters/3').url}}">
                    <span class="chapter-number">{{page.find('/chapters/3').header.chapterNumber}}.</span><br>
                    <span class="chapter-title">{{page.find('/chapters/3').title}}</span>
                </a>
            </div>
        </li>
        <li>
            <div class="chapter-nav {% if page.header.chapterNumber == 4 %}active{% endif %} {% if page.find('/chapters/4').header.disabled == true %}disabled{% endif %}">
                <a href="{{page.find('/chapters/4').url}}">
                    <span class="chapter-number">{{page.find('/chapters/4').header.chapterNumber}}.</span><br>
                    <span class="chapter-title">{{page.find('/chapters/4').title}}</span>
                </a>
            </div>
        </li>
    </ul>
    <a href="#side-nav-bar" class="uk-navbar-flip nav-toggle" data-uk-offcanvas></a>
    <a href="/about" class="uk-navbar-flip nav-about c-black f-uni-grotesk-bold">O Projekte</a>
</nav>
<div id="side-timeline" class="uk-offcanvas">
    <div class="uk-offcanvas-bar f-uni-grotesk-regular bg-dark-green c-white">
        <ul class="cbp_tm-timeline uk-nav uk-nav-offcanvas">
            <li>
                <img class="cbp_tm-icon-timeline-pointer" src="{{ theme_url }}/images/timeline-pointer-white.svg" alt="">
                <div class="cbp_tm-text">
                    <time class="cbp_tm-time" datetime="1938-10-06">6. 10. 1938</time>
                    <h2 class="cbp_tm-label f-uni-grotesk-bold">Vyhlásenie autonómie Slovenska</h2>
                </div>
            </li>
            <li>
                <img class="cbp_tm-icon-timeline-pointer" src="{{ theme_url }}/images/timeline-pointer-white.svg" alt="">
                <div class="cbp_tm-text">
                    <h2 class="cbp_tm-label f-uni-grotesk-bold">Vyhlásenie autonómie Slovenska</h2>
                </div>
            </li>
            <li>
                <img class="cbp_tm-icon-timeline-pointer" src="{{ theme_url }}/images/timeline-pointer-white.svg" alt="">
                <div class="cbp_tm-text">
                    <time class="cbp_tm-time" datetime="1938-10-06">6. 10. 1938</time>
                    <h2 class="cbp_tm-label f-uni-grotesk-bold">Vyhlásenie autonómie Slovenska</h2>
                </div>
            </li>
        </ul>
    </div>
</div>
<div id="side-nav-bar" class="uk-offcanvas">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-flip f-uni-grotesk-regular bg-dark-green">
        <ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
            <li>
                <div class="chapter-nav {% if page.header.chapterNumber == 1 %}active{% endif %} {% if page.find('/chapters/1').header.disabled == true %}disabled{% endif %}">
                    <div class="nav-state-bar"></div>
                    <a href="{{page.find('/chapters/1').url}}">
                        <span class="chapter-number">{{page.find('/chapters/1').header.chapterNumber}}. kapitola</span><br>
                        <span class="chapter-title">{{page.find('/chapters/1').title}}</span>
                    </a>
                </div>
            </li>
            <li>
                <div class="chapter-nav {% if page.header.chapterNumber == 2 %}active{% endif %} {% if page.find('/chapters/2').header.disabled == true %}disabled{% endif %}">
                    <div class="nav-state-bar"></div>
                    <a href="{{page.find('/chapters/2').url}}">
                        <span class="chapter-number">{{page.find('/chapters/2').header.chapterNumber}}. kapitola</span><br>
                        <span class="chapter-title">{{page.find('/chapters/2').title}}</span>
                    </a>
                </div>
            </li>
            <li>
                <div class="chapter-nav {% if page.header.chapterNumber == 3 %}active{% endif %} {% if page.find('/chapters/3').header.disabled == true %}disabled{% endif %}">
                    <div class="nav-state-bar"></div>
                    <a href="{{page.find('/chapters/3').url}}">
                        <span class="chapter-number">{{page.find('/chapters/3').header.chapterNumber}}. kapitola</span><br>
                        <span class="chapter-title">{{page.find('/chapters/3').title}}</span>
                    </a>
                </div>
            </li>
            <li>
                <div class="chapter-nav {% if page.header.chapterNumber == 4 %}active{% endif %} {% if page.find('/chapters/4').header.disabled == true %}disabled{% endif %}">
                    <div class="nav-state-bar"></div>
                    <a href="{{page.find('/chapters/4').url}}">
                        <span class="chapter-number">{{page.find('/chapters/4').header.chapterNumber}}. kapitola</span><br>
                        <span class="chapter-title">{{page.find('/chapters/4').title}}</span>
                    </a>
                </div>
            </li>
        </ul>
        <div class="centered">
            <a class="button-about uk-button button-ghost" href="/about">O Projekte</a>
        </div>
    </div>
</div>